{% extends 'base.html.twig' %}

{% block body %}
    {{ include('AppBundle:layout:mainMenu.html.twig',{'current':'user'}) }}

    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>


            <div id=users>
                Liste des Articles
                <br>
                <table>
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                        <th>Body</th>
                        <th>Date de parution</th>

                    </tr>
                    {% for i in articles %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.body}}</td>
                            <td>{{i.date|date('Y-m-d')}} </td>
                            <td>
                                <a href="{{ path('articles_show', {'id' : i.id}) }}"
                                   class="btn bt,-primary btn-xs">Show</a>
                            </td>
                            <td>
                                <a href="{{ path('articles_update', {'id' : i.id}) }}"
                                   class="btn bt,-primary btn-xs">Update</a>
                            </td>
                            <td>
                                <a href="{{ path('articles_delete', {'id' : i.id}) }}"
                                   class="btn bt,-primary btn-xs">Delete</a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('articles_add') }}"
                   class="btn bt,-primary btn-xs">Add</a>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(articles) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}
